body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-container{
  border: 3px solid black;
  background-color: beige;
  margin: 0px;
  
  display:flex;
  align-items: center;
  justify-content: space-around;
  
}

.menus{
  display:flex;
  gap: 1rem;
  
  
}
.nav-cart{
  margin-right: 0.1rem;
  font-size: 1rem;
}

 
.hero-image{
  width: 100%;
}

.image1{
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.food-container{
  background-color: orange;
  width:100%;
  height:16rem;  
  border:1px solid black;
}
.food-image{
  width:100%;
  height:10rem;
  object-fit: cover;
}
h6{
  margin:5px 0px 5px 0px;
  text-align:center;
  font-size: 0.8rem;
}
.addtocart{
  margin:1% 0% 1% 38%;
  font-size:10px;
}
.food-list{
  display: grid;  
  gap:4px;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  width:70%;
  margin-right: 0%;
}
.main-container{
  display:flex;
  width:100%
}
.basket-container{
  width: 30%;
}


table, tr, th, td{
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;
}
th{
  width:33%
}
h5{
  margin: 3px;
}
table{
  margin-left: 3px;
}

.add-deduct-button{
  display: flex;
  justify-content: space-around;
}